
<%- (include('../includes/head.ejs')); %>
<%- (include('../includes/navigation.ejs')) %>

<link rel="stylesheet" href="/css/main.css">


    <h1><%= pageTitle %> </h1>
    <article>
        <% if (prods.length > 0) { %>
            <div class="container">
                <% for (let product of prods) { %>
                    <div class="card">
                        <div class="img-div">
                            <img src=" <%= product.imageUrl %> " class='img' alt="Product Image">
                        </div>
                        <div class="card-header"><%= product.title %></div>         
                        <br>
                        <div class="card-content1">Price: <%= product.price %> </div>
                        <div class="card-content2"> <%= product.description %></div>  
                        <div class="product-btns">
                        <div class="product-btns">
                            <a href="/products/<%= product.id %>" class="btn1">Details</a> 
                            <a href="/cart" class="btn1">Add to Cart</a>
                        </div>
                    </div>
                </div>   
            <% } %>
            
            

            
        <% } %>
        </div>
    </article>
<%- (include('../includes/footer.ejs')); %>

